# Classification d'images

### Imports

In [29]:
# Pandas & numpy pour la manipulation des donnees
import pandas as pd
import numpy as np

#division des donnees en training & testing
from sklearn.model_selection import train_test_split

### Charger les données et afficher un partie

In [33]:
train_images = np.load("./train_images.npy", encoding='latin1')
train_labels = pd.read_csv("train_labels.csv")
test_images = np.load("./test_images.npy", encoding='latin1')


print("Training image shape   : ",train_images.shape)
print("Training labels' shape : ",train_labels.shape)
print("Training image type    : ",train_images.dtype)
print("Image shape:           : ", train_images[:][1])
train_labels.head()

Training image shape   :  (10000, 2)
Training labels' shape :  (10000, 2)
Training image type    :  object
Image shape:           :  [1 array([0., 0., 0., ..., 0., 0., 0.])]

   Id  Category
0   0    shovel
1   1     rifle
2   2  scorpion
3   3     apple
4   4     spoon

### Analyse de données exploratoire